<mat-card class="inventory-container">
  <mat-card-header>
    <mat-card-title class="inventory-list-title">Inventory</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <p class="page-description">
        Welcome to the inventory page! Here, you can view all items currently in the inventory, as well as filter them.
    </p>
    <hr style="margin: 1rem 0;" />
    <p class="filters-description">
      Use the fields below to filter the inventory by name, key, or description.
    </p>
    <!-- Filter Fields -->
    <div class="filter-container">
      <mat-form-field appearance="outline">
        <mat-label class="filter">Name</mat-label>
        <input
          matInput
          [ngModel]="itemName() ?? ''"
          (ngModelChange)="itemName.set($event?.trim() || undefined)"
          placeholder="contains..."
          data-cy="filter-itemName"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label class="filter">Key</mat-label>
        <input
          matInput
          [ngModel]="itemKey() ?? ''"
          (ngModelChange)="itemKey.set($event?.trim() || undefined)"
          placeholder="contains..."
          data-cy="filter-itemKey"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label class="filter">Description</mat-label>
        <input
          matInput
          [ngModel]="description() ?? ''"
          (ngModelChange)="description.set($event?.trim() || undefined)"
          placeholder="contains..."
          data-cy="filter-description"
        />
      </mat-form-field>
    </div>
  </mat-card-content>

  <mat-card-content>

    @if (inventoryItems()) {

      <div class="inventory-table">

        <div class="inventory-header">
          <span>Name</span>
          <span>Key</span>
          <span>Description</span>
          <span>Quantity</span>
          <span>Actions</span>
        </div>

        @for (item of inventoryItems(); track item._id) {

          <div class="inventory-row" data-test="inventoryRow">

            <span class="item-name" data-cy="inventory-itemName">{{item.itemName}}</span>

            <span class="item-key" data-cy="inventory-itemKey">{{item.itemKey}}</span>

            <span class="description" data-cy="inventory-description">{{ item.description }}</span>

            <div class="quantity-controls">
              <button mat-icon-button
                      data-test="minusButton"
                      (click)="updateQuantity(item._id!, item.quantityAvailable - 1)"
                      [disabled]="item.quantityAvailable === 0">
                <mat-icon>remove</mat-icon>
              </button>

              <span class="quantity-number">
                {{ item.quantityAvailable }}
              </span>

              <button mat-icon-button
                      data-test="plusButton"
                      (click)="updateQuantity(item._id!, item.quantityAvailable + 1)">
                <mat-icon>add</mat-icon>
              </button>
            </div>

            <button mat-icon-button
                    data-test="deleteButton"
                    color="warn"
                    (click)="confirmDelete(item._id!)">
              <mat-icon>delete</mat-icon>
            </button>

          </div>
        }

      </div>

    } @else {
      <mat-error>
        Inventory is empty or could not load.
      </mat-error>
    }

  </mat-card-content>

  <button mat-mini-fab data-test="addInventoryButton"
          color="primary"
          class="add-button"
          routerLink="/inventory/new">
    <mat-icon>add</mat-icon>
  </button>
</mat-card>
